---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #18416a;
$header-bg-color-secondary: #1e3346;

// Text
$section-headings-color: #24292e;
$body-text-color: #24292e;
$body-link-color: #0366d6;
$blockquote-text-color: #6a737d;

// Code
$code-bg-color: rgba(27,31,35,.05);
$color-markdown-code-bg: rgba(27,31,35,.05);
$code-text-color: #24292e;

// Borders
$border-color: #dfe2e5;
$table-border-color: #d3d5d7;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";

.page-header {
    padding: 2.25rem 1rem;
}

.project-name {
    font-weight: normal;
}

.project-tagline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3.25rem;
    opacity: 1;
}

a.btn {
    border-radius: 3px;
}

a code {
    color: #0366d6;
}

.main-content {
    background-color: #fff;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    font-weight: bold !important;
}


img.emoji {
    width: 1em;
    height: 1em;
}

.top-link {
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: right;
}


/* CODE */

.main-content .highlight pre, .main-content pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.main-content pre {
    word-wrap: normal;
    border-color: transparent;
}

.main-content h1 code,
.main-content h2 code,
.main-content h3 code,
.main-content h4 code,
.main-content h5 code,
.main-content h6 code {
    font-size: inherit;
}


/* TABLES */ 

table {
    border-color: #c6cbd1 !important;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa !important;
}