---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #3d6d9d;
$header-bg-color-secondary: #1e456d;

// Text
$section-headings-color: #24292e;
$body-text-color: #24292e;
$body-link-color: #0366d6;
$blockquote-text-color: #6a737d;

// Code
$code-bg-color: rgba(27,31,35,.05);
$code-text-color: #24292e;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";